@model IEnumerable<HexMultiplicationFlashCardsMvc.ViewModels.Quiz>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Started)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinMultiplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinMultiplicand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxMultiplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxMultiplicand)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Started)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Finished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinMultiplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinMultiplicand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxMultiplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxMultiplicand)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
