@model HexMultiplicationFlashCardsMvc.DAL.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Multiplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Multiplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Multiplicand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Multiplicand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Response)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Response)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Round.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Round.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
