@model IEnumerable<HexMultiplicationFlashCardsMvc.DAL.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Multiplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Multiplicand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Response)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Round.Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Multiplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Multiplicand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Response)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round.Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
